@{
    ViewBag.Title = "記賬管理";
}

@model WebApplication1.Models.ViewModels.AccountViewModel

<div id="ajax">
    @Html.Action("List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
